{{ define "navigation" }}
    <ul><a href="/">Feed</a></ul>
{{ end }}

{{ define "content" }}
    {{ range $_, $channel := . }}
    <div class="block item flex">
        <h2 class="title hide-overflow">
            <a href="/?url={{ $channel.SanitizedURL }}">
                {{ $channel.Label }}
            </a>
        </h2>
        <p></p>
    </div>
    {{ end }}
{{ end }}