{{ define "content" }}
{{ range $_, $item := . }}
<div id="{{ $item.SanitizedURL }}" class="item flex">
    <div>
        <h2 class="font-sans hide-overflow">
            <a href="{{ $item.URL }}" target="_blank" title="{{ $item.Label }}"
                onclick="markAsRead('{{ $item.SanitizedURL}}'); return true;">
                {{ $item.Label }}
            </a>
        </h2>
        <h3 class="comment font-serif hide-overflow">
            <i>
                <a href="/?url={{ $item.ChannelInfo.SanitizedURL }}">
                    {{ $item.ChannelInfo.Label }}
                </a>
            </i>
        </h3>
    </div>
    <p class="dismiss pointer font-mono" onclick="markAsRead('{{ $item.SanitizedURL}}');">dismiss</p>
</div>
{{ end }}
{{ end }}

{{ define "script" }}
<script>
    setInterval(() => { location.reload(); }, 600000)
</script>
{{ end }}